__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyd
*.pyo
*.pyc

.DS_Store

.venv/


.DS_Store

/temp/
/.project
/.pydevproject

# checkpoint
checkpoints/

# For PyCharm users
.idea/

episode_traces.txt

.github/
